<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>title</title>-->
<!--  </head>-->
<!--  <body>-->
  
   
<!--   <h4><%=@answer%></h4>-->
  
   
   
<!--  </body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="en">
    
 

<head>

  <!--  <meta charset="utf-8">-->
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <!--  <meta name="description" content="">-->
  <!--  <meta name="author" content="">-->

  <!--  <meta charset="UTF-8">-->
  <!--  <title>Results</title>-->
  <!--</head>-->
  <!--<body>-->
        <!-- Navigation -->
  <!--  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">-->
  <!--      <a class="navbar-brand" href="#page-top">Detroit City Guide</a>-->
        
  <!--      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--          Menu <i class="fa fa-bars"></i>-->
  <!--      </button>-->
  
        <!--<li class="nav-item">-->
        <a class="nav-link" href="/">Home</a>
        <!--</li>-->
    
   <!--<h4><%=@answer%></h4>-->


     <!--Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

     <!--Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

     <!--Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">
    
</head>


<!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div>
                        <center>
                        <h1>here's where you should go in Detroit:</h1>
                            <h3><%=@answer%></h3>
                            <h5>to check out all of our recommendations<br>
                            Click <a target="_blank" href="https://drive.google.com/open?id=1WYBDRZP41jeilkuJJacf_RvkSyM&usp=sharing">here</a></h5>
                        </center>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>